* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* extra-font {
    font-family: "Inter", sans-serif;
} */



/* shared section style here */
.main-width {
    max-width: 1140px;
    margin: 0 auto;
}


.primary-color {
    color: #4E47FF;
}


.btn-primary {
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 14px 36px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #FD6E0A;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* header section style here */
.header {
    max-width: 1440px;
    height: 698px;
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto 116px auto;

}


/* navigation ber section style here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-title {
    font-size: 36px;
    font-family: "Inter", sans-serif;
}


/* banner section style here */
.banner-content {
    width: 905px;
    text-align: center;
    margin: 158px auto;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 37px;
}


/* action section style here */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
}


.action-content {
    width: 517px;
    text-align: left;
}

.action-content * {
    margin-top: 23px;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.sub-title {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.action-image {
    width: 403px;
}

.action-image img {
    width: 100%;
    border-radius: 48px;
}

/* Productive Users Section style here */
.Productive-Users {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    margin-bottom: 137px;
}

.centered-title {
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    text-align: center;
}

.user-data-container {
    display: flex;
    justify-content: space-between;
    gap: 158px;
    padding: 50px;
}


.user-number {
    font-size: 80px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.user-details {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

/* challenges task section style here */
.challenges-task {
    margin-bottom: 92px;
}

.challenge-title {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

.task-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 50px auto 0 auto;
}

.task-card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    padding: 24px;
    box-shadow: 0 0 0 1.5px#F2EDED;
}

.task-card img {
    margin-right: 5px;
}

.card-content .task-title {
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-top: 24px;
}

.task-description {
    margin-top: 8px;
    font-family: "Inter", sans-serif;
}

.reviewer-card {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.reviewer-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
}

.reviewer-name {
    color: #757575;
    font-weight: 600;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
}

.review-date {
    color: #B3B3B3;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

/* free section style here */
.free {
    background-color: #FFFFFF;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 71px 150px;
    margin-bottom: 92px;
}


.free-container {
    text-align: center;
}

.free-container * {
    margin-top: 22px;
}

.free-title {
    font-size: 50px;
    font-weight: 700;
}

.free-section-about {
    color: rgba(0, 0, 0, 0.5);
}

.free img {
    width: 840px;
    border-radius: 48px;
}


/* input section style here */
.touch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 0;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 14px;
}

.touch-title {
    width: 528px;
    font-size: 97px;
    font-weight: 700;
}

.input-container-section {
    width: 497px;
}

.input-content label {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: medium;
    font-family: "Inter", sans-serif;
    margin: 19px 0 10px 0;
}

.input-content input {
    width: 100%;
    display: block;
    height: 70px;
    border-radius: 10px;
    padding: 20px 32px;
    border: 2px solid #D6DDED;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: "Inter", sans-serif;

}

.input-content textarea {
    width: 100%;
    display: block;
    height: 135px;
    resize: none;
    border-radius: 10px;
    padding: 20px 32px;
    border: 2px solid #D6DDED;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.input-content ::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-family: "Inter", sans-serif;
}


.secondary-btn {
    width: 100%;
    display: block;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 19px 200px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 19px;
}

.secondary-btn:hover {
    background-color: #FD6E0A;
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* footer section style here */
footer {
    max-width: 1440px;
    margin: 0px auto;
    padding: 120px;
    background-color: #FFFFFF;
    box-shadow: 2px 0px 4px 1px  rgba(0, 0, 0, 0.1);
}

.footer-container {
    width: 590px;
    text-align: center;
    margin: 0px auto;
}

.footer-title {
    font-size: 100px;
    font-weight: 700;
    /* font-family: "Inter", sans-serif; */
    margin-top: 20px;
}

.footer-description {
    color: #8987A1;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

footer ul {
    width: 450px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    padding: 24px 0px;

}

footer ul li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: #8987A1;
    font-family: "Inter", sans-serif;
}

footer p:hover {
    text-decoration: underline;
    color: #8987A1;
}